<table class="sidearm-table sidearm-table-grid-template-1 sidearm-table-grid-template-1-breakdown-large  no-footer" style="background-color:#ffffff;">
                    <caption class="hide">2026 Football Schedule</caption>
                    
                    <thead class="sidearm-primary">
                        <tr>
                            <th class="text-left">Date</th>
                            <th class="text-left">Time</th>
                            <th class="text-left">At</th>
                            <th class="text-left">Opponent</th>
                            <th class="text-left">Location</th>
                            <th class="text-left">Result</th>
                            <th class="text-left noprint">Links</th>
                        </tr>
                    </thead>
                    <tbody  id="schedule-games" v-if="schedule && schedule.games.length">
                        <template v-for="(game, index) in schedule.games" :key="`schedule-game-${game.id}`">
                           <game-tr-component :game_filter="game_filter" :settings="settings" :schedule_conference="schedule.conference" :sport="schedule.sport" :pac12_school_id="schedule.pac12_school_id" :game="game"></game-tr-component>
                        </template>
                    </tbody>
                </table>

<table class="sidearm-table">
                                                            <caption class="hide">Score By Period</caption>
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" class="text-hide">Team</th>
                                                                    <th v-for="(th,index) in boxscore.away.score_by_periods" :key="index" scope="col" class="text-center">
                                                                        {{ DisplayPeriod(th.period) }}</th>
                                                                    <th scope="col" class="text-center emphasize">F</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th class="hide-on-medium-down" scope="row" :class="{ 'winner': parseInt(boxscore.away.score) > parseInt(boxscore.home.score) }">
                                                                        {{boxscore.away.name}}</th>
                                                                    <th class="hide-on-large" scope="row" :class="{ 'winner': parseInt(boxscore.away.score) > parseInt(boxscore.home.score) }">
                                                                        {{boxscore.away.id}}</th>
                                                                    <td class="text-center" v-for="(td,index) in boxscore.away.score_by_periods" :key="index">{{td.score}}</td>
                                                                    <td class="text-center emphasize"> {{boxscore.away.score}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row" class="hide-on-medium-down" :class="{ 'winner': parseInt(boxscore.home.score) > parseInt(boxscore.away.score) }">
                                                                        {{boxscore.home.name}}</th>
                                                                    <th scope="row" class="hide-on-large" :class="{ 'winner': parseInt(boxscore.home.score) > parseInt(boxscore.away.score) }">
                                                                        {{boxscore.home.id}}</th>
                                                                    <td class="text-center" v-for="(td,index) in boxscore.home.score_by_periods" :key="index">{{td.score}}</td>
                                                                    <td class="text-center emphasize"> {{boxscore.home.score}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>